/*=== Mise en page général ===*/
// variable

$main-color: #dc7738;
$second-color: #3aa694;
$first-font: "gloss and bloom";
$main-font: "Poppins", sans-serif;
$center: 0 auto;
$p-color: #444444;

html {
  font-family: $main-font;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

/* Titre */

/* bouton */
.button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
}

.button-nav {
  padding: 15px 30px;
  background-color: $p-color;
  color: white;
  border-radius: 50px;
  border: 3px $p-color solid;
}
.button-nav:hover {
  background-color: white;
  color: $p-color;
  border-radius: 50px;
  border: 3px $p-color solid;
  transition: all 0.3s ease-in-out;
}

#button {
  background-color: white;
  border: 0px;
}

/*classe fonctionnel*/
.flex-container {
  display: flex;
}

.container-simple {
  margin: 0 auto;
  width: 85%;
}

.container {
  margin: 0 auto;
  width: 85%;
}

/*=== Header ===*/
header {
  margin-top: 50px;
  ul {
    gap: 3em;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $p-color;
  font-weight: 600;
}
h4 {
  color: $p-color;
  font-size: 30px;
  margin: 0;
  font-weight: 600;
}

/*=== Main ===*/

//clicker
#click {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 10px 10px 20px #f1d4ae, 10px 10px 30px #e69b32;
}

#click:active {
  transform: scale(0.95, 0.95);
  transition: all 0.1s ease;
}

//mise en page section
.section_clicker {
  margin-left: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  margin-top: 150px;
  gap: 10%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

//design h1
h1 {
  font-size: 4em;
  color: #444444;
  margin: 0;
}
.clicker_h1 {
  color: $main-color;
  font-family: $first-font;
  font-weight: 500;
}

// ajuster view credit
.view_credit_click {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 35%;
}
.view_credit {
  display: flex;
  align-items: center;
}
.img_credit {
  transform: scale(0.5);
  margin-top: 40%;
}
#view {
  font-size: 2.5em;
  font-weight: 650;
  color: $main-color;
}
#message_error {
  margin-top: 50px;
  color: $p-color;
  font-weight: 600;
  text-align: center;
}
#message_bonus {
  margin-top: 20px;
  color: $p-color;
  font-weight: 600;
  text-align: center;
}

// button action clicker
.multiplicateur {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  color: $main-color;
  margin-bottom: 15px;
  margin-left: 10px;
}

.button_x2 {
  border-width: 3px 0px 3px 3px;
  background: #ffffff;
  box-shadow: inset 5px 5px 20px #fbf6ef, 5px 5px 20px #e69b32;
  border-radius: 35px 0px 0px 35px;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
  opacity: 0.5;
  filter: grayscale(0.3);
}

.button_x2:hover {
  transform: scale(1.05);
  margin-right: 10px;
  transition: all 0.2s ease-out;
}

.button {
  color: $main-color;
  margin-left: 10px;
  font-size: 20px;
}
.price_x2 {
  display: flex;
  gap: 5%;
}
.inte_button {
  display: flex;
}
.credit {
  margin-top: 5px;
  width: 17px;
  height: 17px;
}
#price_click {
  margin-left: 120%;
}

//button action auto click

/*=== Footer ===*/

// animation click
button {
  position: relative;
  border: none;
  border-radius: 10rem;
  padding: 0.5rem 3.25rem;
  background-color: #5175ff;

  color: white;
  font-size: 1.5rem;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 3.5rem;

  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: 0.3s;
}

button:hover {
  background-color: #829cff;
}

.ripple {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;

  border-radius: 50%;
  background-color: #dc773870;

  pointer-events: none;
  opacity: 0.5;
  animation: ripple 0.5s linear;
}

@keyframes ripple {
  to {
    width: 15rem;
    height: 15rem;
    opacity: 0;
  }
}
////particle background

$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

#bubbles {
  position: absolute;
  margin-top: -41.1em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: none;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -25%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay)
    ease-in infinite;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $main-color;
    opacity: 0.3;
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration)
      var(--bubble-sway-delay) ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(6s, 12s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 4s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-500vh);
  }
}

#bonus {
  display: none;
  position: absolute;
  z-index: 1;
  img {
    width: 20px;
    animation: zoom-in-zoom-out 1s ease infinite;
  }
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

#message_bonus {
  animation: Color 4s linear infinite;
  -webkit-animation: Color 1s ease-in-out infinite;
  font-size: 20px;
}

@keyframes Color {
  0% {
    color: #dc3838;
    transform: scale(1, 1);
  }

  25% {
    color: #dccc38;
    
  }

  50% {
    color: #38dc5c;
    transform: scale(1.5, 1.5);
    
  }

  75% {
    color: #3895dc;
  }

  100% {
    color: #dc38d1;
    transform: scale(1, 1);
  }
}

#bubbles{
  opacity:1;
  
}

#message_bonus{
  opacity: 1;
  transition: opacity 1s linear;
}